body {
  background-color: lightcyan;
}

img {
  height: 15em;
  width: 15em;
}


.center-object {
  text-align: center;
}

.back-color-black {
  background-color: black;
}

.back-color-blue {
  background-color: blue;
}

.back-color-red {
  background-color: red;
}
